body{
    background-color: #151B29;
    color: #FAF9F6;
}

.menu-button{
    border-style: groove;
    border-radius: 2px;
    border-color: gray;

    background-color: darkgray;
    color: black;
}
.menu-button:hover{
    border-style: groove;
    border-radius: 2px;
    border-color: black;

    background-color: gray;
    color: white;
}

h1{
    color: white;
}